#root {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

*{
  background-color:lightslategrey;
  color:white
}

.input::placeholder{
  color: white; 
}

.links{
  display: flex; 
  justify-content: center;
  padding: 1rem; 
  gap: 3rem; 
}

.input{
 margin-right: 1rem; 
 padding: 5px; 
 border: 1px solid black; 
 border-radius: 3px;
 width: 130px; 
}

.login{
  padding-top: 8px; 
  padding-bottom: 8px; 
  padding-left: 15px; 
  padding-right: 15px; 
  border-radius: 5px;
  margin-left: 10px; 
  border: 1px solid black;
}

button:hover{
  font-size: 13px;
  box-shadow: 5px 5px 5px  black;
}

.listContainer{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin-top: 30px; 
  border: 1px solid black; 
  font-size: 120%;
}

ol{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start;
  gap: 1rem; 

}

h3{
  text-decoration: underline;
  margin-bottom: -5px; 
}

.home{
  display: flex; 
  flex-direction: column;
}


.navbar{
  display: flex; 
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem; 
  margin-top: 0px; 
}

.parent{
  display: flex; 
}
.flex-child:nth-child(2){
  margin-left: 250px; 

}
.newForm{
  display: flex; 
  flex-direction: column;
  padding: 5px; 
  border: 2px solid white;
  width: 200px; 
  height: 300px; 
}

h4{
  text-decoration: underline;
  font-size: 20px;
}

.form{
  margin: 10px; 
  margin-bottom: 20px; 
}

.submit{
  margin-top: 20px; 
}

.update{
  color:maroon
}

.danger{
  color:crimson;
  font-weight: bold; 
}

.activities{
  margin-left: 35px !important; 
}

img{
  margin: auto;
  margin-top: 50px; 
  width: 250px; 
}